<table>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Cédula</th>
      <th>Edad</th>
      <th>Dirección</th>
      <th>E-mail</th>
      <th>País</th>
      <th>Monto</th>
      <th>Tipo Pago</th>
    </tr>
        <tr *ngFor="let donacion of donacionesEncontradas">
            <td>{{donacion.nombre}}</td>
            <td>{{donacion.apellido}}</td>
            <td>{{donacion.genero}}</td>
            <td>{{donacion.cedula}}</td>
            <td>{{donacion.edad}}</td>
            <td>{{donacion.direccion}}</td>
            <td>{{donacion.email}}</td>
            <td>{{donacion.pais}}</td>
            <td>{{donacion.monto}}</td>
            <td>{{donacion.tipoPago}}</td>
        </tr>
     
  </table>
  