<div class="parallax-container parhome">
    <div class="parallax">
      <img src="/assets/jaguar.jpg">
      <div class="texto">
        <h3>Quienes Somos</h3>
      </div>
    </div>
</div>
  
  
  
  <div class="memes">
      <div class="row">    
        <div class="col s4 blue">
          <div class="groupUp">
            <h2>¡Únete!</h2>
            <p class="white-text"> Estamos seguros que tenemos un proyecto con el que te sientes identificado.</p>
          </div>
          <div class="groupDown">
            <img src="/assets/bosque.svg"> 
          </div>
        </div>
       
        <div class="col s4 green">
          <div class="groupUp">
            <h2>¡Participa!</h2>
            <p class="white-text">Dona parte de tu tiempo o recursos económicos para ayudar en una causa ambiental, te mantendremos informado</p>
          </div>
          <div class="groupDown">
            <img src="/assets/island.svg"> 
          </div>
        </div>
  
        <div class="col s4 amber">
          <div class="groupUp">
            <h2> ¡Pasa la voz! </h2>
            <p class="white-text">Ayuda a que nuestras iniciativas sean conocidas por más personas como tú. #OneWorldOneTeam </p>
          </div>
          <div class="groupDown">
            <img src="/assets/montanas.svg"> 
          </div> 
        </div>
      </div>
    </div>
  
  
  <div class="container">
  
    
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal darken-2">
            <div class="card-content white-text">
                <span class="card-title">Misión</span>
                <p>Nuestra misión es detener la degradación del ambiente natural de la Tierra dando a conocer formas de ayudar en lugares remotos con una gran riqueza natural.</p>
            </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card teal darken-2">
            <div class="card-content white-text">
                <span class="card-title">Visión</span>
                <p>Aspira a que en el país y en las regiones asociadas, la protección de los ecosistemas representativos esté en armonía con la satisfacción de las necesidades y anhelos de las comunidades locales y de las futuras generaciones. Viendo como la tecnología apoya a las comunidades y sirve como puente entre las ciudades y las zonas rurales de riqueza ambiental.</p>
            </div>
            </div>
        </div>
    </div>
     
    
    
  </div>
  
  
  