<div class="parallax-container parhome">
  <div class="parallax">
    <img src="/assets/bombilla.jpg">
    <div class="texto">
      <h3>#OneWorldOneTeam</h3>
      <span data-quote class="quote-owner">
        Jane Goodall (1934-) primatóloga británica
      </span>
      <span data-quote class="quote">
        No se puede pasar un solo día sin tener un impacto en el mundo que nos rodea. Lo que hacemos marca la diferencia, y tenemos que decidir qué tipo de diferencia queremos hacer.
      </span>
    </div>
    
  </div>
</div>



<div class="memes">
    <div class="row">    
      <div class="col s4 blue">
        <div class="groupUp">
          <h2>¡Únete!</h2>
          <p class="white-text"> Estamos seguros que tenemos un proyecto con el que te sientes identificado.</p>
        </div>
        <div class="groupDown">
          <img src="/assets/bosque.svg"> 
        </div>
      </div>
     
      <div class="col s4 green">
        <div class="groupUp">
          <h2>¡Participa!</h2>
          <p class="white-text">Dona parte de tu tiempo o recursos económicos para ayudar en una causa ambiental, te mantendremos informado</p>
        </div>
        <div class="groupDown">
          <img src="/assets/island.svg"> 
        </div>
      </div>

      <div class="col s4 amber">
        <div class="groupUp">
          <h2> ¡Pasa la voz! </h2>
          <p class="white-text">Ayuda a que nuestras iniciativas sean conocidas por más personas como tú. #OneWorldOneTeam </p>
        </div>
        <div class="groupDown">
          <img src="/assets/montanas.svg"> 
        </div> 
      </div>
    </div>
  </div>



<app-homesecciones-component></app-homesecciones-component>

<div class="container">

  <div class="row testimonios">
    <h2> Testimonios </h2>
    <div class="col s4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/assets/mujerfeliz.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> Doné una pequeña cantidad al proyecto Tucanes. Ahora recibo lindas postales de las aves a las que he ayudado.</p>
          </div>
          <div class="card-action">
            <a href="/proyecto/5f15308b921c290bc8390eea">Proyecto Tucanes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/assets/mujerfeliz2.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Soy voluntaria en el proyecto Lagos. Paso algunos fines de semana rodeada de naturaleza.</p>
          </div>
          <div class="card-action">
            <a href="/proyecto/5f26f9984effbe47a48db60b">Conoce el proyecto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/assets/hombrefeliz.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>¡Ahora cuento con amigos con los mismos intereses ambientales que yo!</p>
          </div>
          <div class="card-action">
            <a href="/proyecto/5f015a8a63944d2ddc35355a">Conoce el proyecto</a>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>


