<div class="row user-login container">
    <form #loginForm="ngForm" class="col s12">
      
        <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" #email="ngModel" [(ngModel)] ="admin.email">
              <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="pass" type="password" class="validate" name="pass" #pass="ngModel" [(ngModel)] ="admin.pass">
            <label for="password">Password</label>
            </div>
        </div>
     
        <div class="row">
            <a class="waves-effect waves-light btn"  type="submit" name="action" (click)='login(admin)'>Login</a>
        </div>
    </form>
</div>
