<div class="seccion-component container"  class="seccion container">
    <form #crearactualizarSeccionForm="ngForm">

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="URL" id="urlImagen" type="text" class="validate"
            #urlImagen="ngModel" name="urlImagen" [(ngModel)]="seccionesEncontradas.urlImagen" >
            <label for="urlImagen"> URL Imagen </label>
          </div>
        </div>   

        <div class="row">
            <div class="input-field col s12">
              <input placeholder="Nombre de Sección" id="nombre" type="text" class="validate"
              #nombre="ngModel" name="nombre" [(ngModel)]="seccionesEncontradas.nombre" >
              <label for="nombre"> Nombre de Sección </label>
            </div>
        </div>   

        <div class="row">
            <div class="input-field col s12">
                <div class="input-field col s12">
                    <textarea id="descripcion" class="materialize-textarea" data-length="120"
                    #descripcion="ngModel" name="descripcion" [(ngModel)]="seccionesEncontradas.descripcion"
                    ></textarea>
                    <label for="descripcion">Descripción</label>
                  </div>
            </div>
        </div>   
       
        <button (click)='editarSeccion(seccionesEncontradas)'  class="waves-effect waves-light btn"> Editar Seccion</button>
        <button (click)='eliminarSeccion(seccionesEncontradas._id)'  class="waves-effect waves-light btn red"> Eliminar Seccion</button>
    </form>
</div>       
