<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5>Encuentranos en nuestras Redes Sociales</h5>
          <br>
          <div class="row footerup">
            <a class="yellow-text text-lighten-3 snet" href="https://www.facebook.com/" target="_blank"><img src="/assets/facebook.svg"> OTeamOWorld </a>
            <a class="yellow-text text-lighten-3 snet" href="https://www.instagram.com" target="_blank"><img src="/assets/gorjeo.svg"> #OneTeamOneWorld </a>
            <a class="yellow-text text-lighten-3 snet" href="https://twitter.com/"  target="_blank"><img src="/assets/instagram.svg"> @OneTeamOneWorld </a>
          </div>
        </div>
        <div class="col 3 s3 secciones">
          <h5 class="yello-text">Secciones</h5>
          <ul>
            <li><a class="yellow-text text-lighten-3" href="/seccion/5ef9772972c9c617a48295af">Colombia</a></li>
            <li><a class="yellow-text text-lighten-3" href="/seccion/5f14fb4619fe6d370c5f62e1">Amazonas</a></li>
            <li><a class="yellow-text text-lighten-3" href="/seccion/5f0670758ecdb3457ce01126">Centro América</a></li>
            <li><a class="yellow-text text-lighten-3" href="/seccion/5ef9774472c9c617a48295b0">Europa</a></li>
          </ul>
        </div>
        <div class="col 2 s2">
          <a class="yellow-text text-lighten-3" href="/quienes-somos"><i class="material-icons">face</i><h6>Quienes Somos</h6></a>
          <a class="yellow-text text-lighten-3" href="/contactanos"><i class="material-icons">chat_bubble</i><h6>Cuentanos de ti</h6></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      </div>
     
    </div>
  </footer>
      