    <div class="user-component container search ">
      <div class="admin-update">
        <form #crearAdminForm="ngForm" (ngSubmit)="crearAdmin()">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="nombre" placeholder="nombre" required
                    #nombre="ngModel" name="nombre" [(ngModel)] ="adminRegistrado.nombre">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="apellido" placeholder="apellido" required
                    #apellido="ngModel" name="apellido" [(ngModel)] ="adminRegistrado.apellido">
                    <label for="apellido">Apellido</label>
                </div>
            </div>   
            <div class="row">
                <div class="input-field col s6"> 
                    <select id="genero"  name="genero" #genero="ngModel" [(ngModel)] ="adminRegistrado.genero">
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                    <label>Género</label>
                </div>
                <div class="input-field col s6"> 
                    <input type="text" id="cedula" placeholder="cedula" required
                    #cedula="ngModel" name="cedula" [(ngModel)] ="adminRegistrado.cedula">
                    <label for="cedula">Cédula</label>
                </div>
            </div> 
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="direccion" placeholder="direccion" required
                    #direccion="ngModel" name="direccion" [(ngModel)] ="adminRegistrado.direccion">
                    <label for="direccion">Dirección</label>
                </div>
                <div class="input-field col s6">
                    <input type="email" id="email" placeholder="email" required
                    #email="ngModel" name="email" [(ngModel)] ="adminRegistrado.email">
                    <label for="email">E-mail</label>        
                </div>
            </div>   

            <div class="row">
                <div class="input-field col s6">
                    <input id="pass" type="password" placeholder="password" required 
                    class="validate" name="pass" #pass="ngModel" [(ngModel)] ="adminRegistrado.pass">
                    <label for="password">Password</label>       
                </div>
                <div class="input-field col s6">
                    <input type="text" id="tel" placeholder="teléfono" required
                    #tel="ngModel" name="tel" [(ngModel)] ="adminRegistrado.tel">
                    <label for="tel">Teléfono</label>        
                </div>
            </div> 

            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>
            
        </form>
      </div>         
    </div>    
